<!doctype html>
<html lang="en">
<head>
    
    <!-- Global Site Tag (gtag.js) - Google Analytics 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67426824-8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-67426824-8');
    </script>
    -->

    <title>Met Proposal</title>
    <meta charset="utf-8">
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="canonical" href="http://www.abc.com">
    <meta name="keywords" content="" >
    <meta name="description" content="">

    <!--FACEBOOK-->
    <meta property="og:title" content="" >
    <meta property="og:site_name" content="">
    <meta property="og:url" content="http://www.abc.com" >
    <meta property="og:description" content="" >
    <meta property="og:image" content="/assets/images/share-image.png" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >

    <!--TWITTER-->
    <meta property="twitter:card" content="summary_large_image" >
    <meta property="twitter:title" content="" >
    <meta property="twitter:description" content="" >
    <meta property="twitter:url" content="http://www.abc.com" >
    <meta property="twitter:image" content="/assets/images/share-image.png" >

    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Style sheet -->
    {# load css #}
    {% for url in config.CSS_URLS() %}
    <link rel="stylesheet" type="text/css" href="{{ url }}">
    {% endfor %}
</head>
<body>
    <!-- NAVIGATION -->
    <div id="header">
        <!--<div id="header-filler"></div>-->
        <div id="nav">
            <div class="nav-el">
                The Scale
            </div>
             <div class="nav-el">
                Read More
            </div>       
            <div class="nav-el">
                Contact
            </div>
        </div>
    </div>
    
    <!-- SPLASH -->
    <div id="splash">
        <div id="title-box">
            Towards Equitable Met Ticketing
        </div>
        <div id="splash-content" class="contain">
            <div id="splash-image">
                <img src="/assets/images/met-building-splash.jpg">    
            </div>
            <div id="splash-desc">
                <div class="part-one">
                    On March 1st The Met changed its 50 year pay-what-you-want admission policy so that out of state visitors must pay a flat $25.
                </div>
                <br><br>
                <div class="part-two">
                    If the Met must increase its admissions revenue, its strategy should prioritize accessibility. 
                </div>
            </div>
        </div>
    </div>
    
   
    <!-- Scale Proposal -->
    <div id="scale">
        <div id="scale-container" class="contain">
            <div id="scale-header">
                Proposal: <span id="scale-price-legend">&nbsp;Price&nbsp;</span>&nbsp;admission <br>on a sliding scale by visitor <span id="scale-income-legend">&nbsp;income&nbsp;</span>.
            </div>
            <div id="scale-left">
                <div id="scale-grid">
                    <!--
                    <div id="scale-cell-legend">
                        <div id="scale-cell-income-legend">Ticket Price</div>
                        <div id="scale-cell-price-legend">income bracket</div>
                    </div>
                    -->
                    <div class="scale-cell"><div class="scale-cell-price">$0 </div><div class="scale-cell-income">$0-10k   </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$1 </div><div class="scale-cell-income">$10-15k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$2 </div><div class="scale-cell-income">$15-20k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$4 </div><div class="scale-cell-income">$20-25k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$6 </div><div class="scale-cell-income">$25-30k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$8 </div><div class="scale-cell-income">$30-35k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$10</div><div class="scale-cell-income">$35-40k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$12</div><div class="scale-cell-income">$40-45k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$14</div><div class="scale-cell-income">$45-50k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$18</div><div class="scale-cell-income">$50-60k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$21</div><div class="scale-cell-income">$60-75k  </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$24</div><div class="scale-cell-income">$75-100k </div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$28</div><div class="scale-cell-income">$100-125k</div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$30</div><div class="scale-cell-income">$125-150k</div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$32</div><div class="scale-cell-income">$150-200k</div></div>
                    <div class="scale-cell"><div class="scale-cell-price">$35</div><div class="scale-cell-income">+$200k   </div></div>
                </div>
                <br>
                <div id="scale-annotation">
                    If you make <span id="annotation-income">____</span>, you would pay <span id="annotation-price">____</span> for admissions.
                </div>
            </div>
            <div id="scale-right">
                <div style="font-weight: bold">
                    We propose a sliding scale of recommended payment tiers from $0-$40, applied too all visitors, in-state and out
                </div>
                <hr>
                <div style="font-weight: normal">
                    Visitors have the option to pay as they wish, in accordance wih this scale or not, however ticket prices should be explicitly recommended.
                </div>
            </div>
        </div>
    </div>
    
    <!-- Why This Matters -->
    <div id="why">
        <div id="why-container" class="contain">
            <div id="why-header">Why This Matters</div> 
            <div id="why-left">
                <div id="why-left-header">The Met's value is not universal:</div>
                <div id="why-left-desc">It reflects the priorities and perspectives of its affluent, largely white, founders and donors.</div>
            </div> 
            <div id="why-right">
                <div id="why-right-quote-grid">
                    <div id="why-right-quote-quote">
                        “[Museums] cannot separate themselves from the collective memories that link their development with white supremacy, hetero-patriarchy, abuse of labor, colonization, imperialist theft of art and artifacts, destruction or absencing of alternative ways of interpreting and representing art and artifacts, structural racism and other oppressions.”    
                    </div>
                    <div id="why-right-quote-by">
                        MASS Action
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
    <!-- Labor -->
    <div id="labor">
        <div id="labor-container" class="contain">
            <div id="labor-top-text">
                For first-time visitors outside typical museum demographics, the cost of entry can go far beyond ticket price:
            </div>    
            <div id="labor-left">
                <div id="labor-left-header">
                    Unaccounted Cost and Labor
                </div>
                <br>
                <div id="labor-left-desc">
                    Beyond additional costs–transportation, food, childcare, and time diverted from paid or domestic work– there is the <span class="bold italic">additional labor of investing in a space without guarantee that it is invested in you</span>; navigating cultural codes of a historically white institution; submitting to close surveillance; and viewing one’s culture through a western gaze.
                </div>
            </div> 
            <div id="labor-right">
                <img src="{{ url_for('static', filename='images/ticket-equity-diagram.png') }}">
                <div id="labor-right-text-container">
                    <div id="labor-right-left-text">
                        A flat $25 is equal, but disregards the unaccounted cost and labor.        
                    </div>
                    <div id="labor-right-right-text">
                        A sliding scale is equitable, taking into account the additional cost and labor.
                    </div>
                </div>
            </div>
            <div id="labor-bot-text">
                The Met houses “<span class="italic">significant works of art across all times and cultures.</span>” It also pledges to “<span class="italic">reach out to the widest possible audience in a spirit of inclusiveness.</span>”
                <br><br>
                A flat $25 admission fee cuts off the very community whom the Met seeks to serve in its mission, especially marginalized, low-income out-of-state visitors and undocumented individuals. 
            </div>
        </div>
    </div>
    
    <!-- Where the Met Stands -->
    <div id="where-met-stands">
        <div id="where-met-stands-container" class="contain">
            <div id="where-met-stands-header">Where the Met Stands</div>
            <div id="where-met-stands-left">
                <div class="where-met-stands-sub-title">
                    <div class="where-met-stands-icon"><img src="/assets/images/ticket-icon.png"></div>&nbsp;&nbsp;
                    <div class="where-met-stands-text">$41.7M</div>
                </div>
                <br>
                <div class="where-met-stands-desc">
                    The Met’s single-ticket revenue in 2016-17. The Met says that admissions revenue has grown proportionally slower than its operating costs.
                </div>
            </div>
            <div id="where-met-stands-middle">
                <div class="where-met-stands-sub-title">
                    <div class="where-met-stands-icon"><img src="/assets/images/increase-icon.png"></div>&nbsp;&nbsp;
                    <div class="where-met-stands-text">$48-53M</div>
                </div>
                <br>
                <div class="where-met-stands-desc">
                    The Met’s goal for their new admissions policy is to raise ticket revenue by $6-11 million dollars.
                </div>
            </div>
            <div id="where-met-stands-right">
                <div class="where-met-stands-sub-title">
                    <div class="where-met-stands-icon"><img src="{{ url_for('static', filename='images/visitor-icon.png') }}"></div>&nbsp;&nbsp;
                    <div class="where-met-stands-text">$9.13</div>                   
                </div>
                <br>
                <div class="where-met-stands-desc">
                    The average ticket price paid by the Met’s ~4.5M visitors in 2017. The Met’s suggested price for an adult ticket is $25.
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sliding Scale Performance -->
    <div id="sliding-scale-performance">
        <div id="sliding-scale-performance-container" class="contain">
            <div id="sliding-scale-performance-header">
              How Does Sliding Scale Perform?    
            </div>
            <div id="sliding-scale-performance-left">
                <div id="sliding-scale-performance-sub-title">4.5M</div>
                <div id="sliding-scale-performance-desc">
                    The number of visitors who purchased a single-visit ticket at the Met in 2016-2017. Fig. 1 shows an approximate income distribution of these visitors.
                    <br><br>
                    Shown in this figure is a complete breakdown of ticket prices for each income bracket.
                </div>
            </div>
            <div id="sliding-scale-performance-right">
                <img src="/assets/images/income-scale-graph.png">
            </div>
        </div>
        
        <div id="sliding-scale-performance-conclusion" class="contain">
            With this sliding scale, we project an 11M increase in revenue, bringing the Met revenue to a total of 53.2M
        </div>
        <div id="sliding-scale-performance-reference" class="contain">
            For a breakdown of our working numbers, assumptions around visitor truthfulness, and sources, see our complete work <a href="" target="_blank">here</a>.
        </div>
    </div>
    
    <!-- Call to Action -->
    <div id="cta">
        <div id="cta-container" class="contain">
            <div id="cta-prompt">I would pay to visit <span class="bold">The Met</span> on a <span class="bold">sliding scale</span>.</div>   
            <div id="cta-action">
                <form class="subscribe-form">
                    <input class="subscribe-form-input" type="text" placeholder="your@email.com" name="email" value="">
                    <input class="subscribe-form-submit" type="submit" value="Submit">
                    <br><br>
                    <div class="subscribe-form-feedback"></div>
                </form>
            </div>
            <div id="cta-social">
                <img src="{{ url_for('static', filename='images/fb-icon.png') }}">
                <img src="{{ url_for('static', filename='images/twitter-icon.png') }}">
            </div>
        </div>
    </div>
    
    <!-- Credits -->
    <div id="credits">
        <div id="credits-container" class="contain">
            <div id="credits-info">
                <div id="credits-logo">
                    <img src="{{ url_for('static', filename='images/met-scale-icon.png') }}">
                </div>
                <br><br>
                <div id="credits-social">
                    <div>Read the Paper</div>
                    <br>
                    <div>Contact Us</div>
                </div>
            </div>
            <div id="credits-title">
                Proposal By 
            </div>
            <div id="credits-gradient">
                <div class="credits-header">Gradient</div>
                <div class="credits-desc">
                    Gradient is a sliding scale payment platform for online commerce.
                </div>
            </div>
            <div id="credits-supported-title">
                Supported By
            </div>
            <div id="credits-laagp">
                <div class="credits-header">Look At Art. Get Paid.</div>
                <div class="credits-desc">
                    LAAGP is an independent program that pays people who don’t go to museums to visit an art museums.
                </div>
            </div>
            <div id="credits-abog">
                <div class="credits-header">A Blade of Grass</div>
                <div class="credits-desc">
                    A Blade of Grass partners with individual artists and collectives to enact social change.
                </div>
            </div>
            <div id="footer">Towards Equitable Met Ticketing &copy;2018</div>
        </div>
        
    </div>
       
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {# load javascript #}
    {% for url in config.JS_URLS() %}
    <script src="{{ url }}"></script>
    {% endfor %}

</body>
</html>
