// MEDIA QUERIES --------
@mixin phone
  @media only screen and (max-width : 640px)
    @content

@mixin tablet
  @media only screen and (min-width : 640px) and (max-width : 768px)
    @content

@mixin desktop
  @media only screen and (min-width : 768px) and (max-width : 1024px)
    @content
    
@mixin monitor
  @media only screen and (min-width : 1024px)
    @content

*
  box-sizing: border-box

@mixin mobile
  @media only screen and (max-width : 640px)
    @content
    
@mixin non-mobile
  @media only screen and (min-width : 640px)
    @content

// VARIABLES --------
$red: #e20c32
$gray: #eee
  
    
// CUSTOM CLASES --------
.contain
  margin: 0 auto 
  
  @include non-mobile
    @include monitor
      max-width: 1280px
    @include desktop
      max-width: 1024px

.bold
  font-weight: bold
  

// GENERAL --------
h1, h2, h3, h4, h5, h6
  margin: 0

$h1-font-size: 3.5em
$h2-font-size: 2.5em
$h3-font-size: 2.0em
$h4-font-size: 1.5em
$body-font-size: 1.25em

$h1-font-size-m: 2.0em
$h2-font-size-m: 1.6em
$h3-font-size-m: 1.2em
$h4-font-size-m: 1.0em
$body-font-size-m: 1.0em


body
  font-family: "gt-pressura-monoregular", "Helvetica", "Arial", sans-serif
  margin: 0px
  font-size: 1.0em
  
// SECTIONS --------
#header
  display: grid
  position: fixed
  width: 100vw
  top: 0px
  grid-template-columns: auto 25em
  grid-template-rows: auto
  grid-template-areas: "main nav"
  z-index: 100
  
  #nav
    @include mobile 
      display: none
    @include non-mobile
      grid-area: nav
      justify-self: center 
      grid-column-start: 2
      grid-column-end: 2
      background-color: white
    .nav-el
      display: inline-block
      cursor: pointer
      margin-left: 1em
      margin-right: 1em
      line-height: 5em
    .nav-el:hover
      text-decoration: underline

#splash
  
  #title-box
    background-color: $red
    color: white
    display: inline-block
    font-weight: bold
    font-style: italic
    top: 0
    padding: 1em
    @include non-mobile
      position: absolute
      font-size: $h2-font-size
      max-width: 10em
    @include mobile
      position: relative
      font-size: $h3-font-size-m
      width: 100vw
      max-width: inherit
  
  #splash-content
    display: grid
    justify-content: center
    @include non-mobile
      margin-top: 7.5em
      margin-bottom: 7.5em
      grid-template-columns: auto 25em
      grid-template-rows: auto
    @include mobile
      margin-top: 0px 
      margin-bottom: 0px
      grid-template-columns: auto
      grid-template-rows: auto auto
      
    #splash-image
      grid-column-start: 1
      grid-column-end: 1
      grid-row-start: 1
      grid-row-end: 1
      @include non-mobile
        img
          max-width: 95%
      @include mobile
        img 
          max-width: 100%
    #splash-desc
      @include non-mobile
        grid-column-start: 2
        grid-column-end: 2
        grid-row-start: 1
        grid-row-end: 1
      @include mobile
        grid-column-start: 1
        grid-column-end: 1
        grid-row-start: 2
        grid-row-end: 2
        padding: 2em
      .part-one
        color: $red
        @include non-mobile
          font-size: $h4-font-size
          padding-bottom: 2em
        @include mobile
          font-size: $h4-font-size-m
      .part-two
        color: black
        font-weight: bold
        font-style: italic
        @include non-mobile
          font-size: $h3-font-size
        @include mobile
          font-size: $h3-font-size-m
  
#scale
  background-color: $gray
  color: $red
  
  #scale-container
    display: grid
    justify-content: center
    padding-bottom: 2em
    @include non-mobile
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 2fr
      grid-template-areas: "header header" "left right"
    @include mobile
      grid-template-columns: 1fr 
      grid-template-rows: auto auto auto
      grid-template-areas: "header" "left" "right"
    
    #scale-header
      grid-area: header
      text-align: center
      font-weight: bold
      justify-self: center
      color: black
      margin-top: 2em
      margin-bottom: 2em
      @include non-mobile
        font-size: $h2-font-size
      @include mobile
        font-size: $h2-font-size-m
        
      #scale-price-legend
        background-color: white
        color: $red
      
      #scale-income-legend
        background-color: $red
        color: white
        
    #scale-left
      grid-area: left
      justify-self: center
      align-self: center
      width: 80%
      
      #scale-annotation
        text-align: center
        color: black
        @include non-mobile
          font-size: $body-font-size
        @include mobile
          font-size: $body-font-size-m
        
        #annotation-income
          color: $red
        #annotation-price
          color: $red
      
      #scale-grid
        width: 100%
        display: grid
        text-align: center
        grid-gap: 5px
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(4, 1fr)
         
        .scale-cell:hover
          border: 2px solid $red
          
        .scale-cell
          border: 2px solid white
          width: 100%
          height: 100%
          
          .scale-cell-price
            color: $red
            background-color: white
            font-weight: bold
            @include non-mobile
              font-size: $h3-font-size
              line-height: $h3-font-size
            @include mobile
              font-size: $h2-font-size-m
              line-height: $h2-font-size-m
          .scale-cell-income
            background-color: $red
            color: white
            line-height: 1.8em
            @include mobile
              font-size: 0.8em
      
    #scale-right
      grid-area: right
      justify-self: center
      align-self: center
      color: black
      padding-bottom: 2em
      @include non-mobile
        font-size: $h4-font-size
        width: 80%
      @include mobile
        font-size: $h4-font-size-m
        padding: 1em
        margin-top: 2em
         
      #scale-grid-legend
        margin-top: -5em
        width: 100%
        display: grid
        text-align: center
        grid-gap: 5px
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 1fr


#why
  background-color: $red
  color: white
  
  #why-container 
    display: grid
    text-align: center
    grid-template-columns: 1fr 3fr
    grid-template-rows: 1fr auto
    grid-template-areas: "header header" "left right"
    padding-bottom: 5em
    
    #why-header
      grid-area: header
      font-size: $h2-font-size
      font-weight: bold
      margin-top: 2em
      margin-bottom: 2em
    #why-left
      grid-area: left
    #why-right
      grid-area: right
      text-align: left
      font-size: $body-font-size
    

#where-met-stands
  #where-met-stands-container
    display: grid
    text-align: center
    padding-bottom: 5em
    @include non-mobile
      grid-gap: 5px
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: 1fr auto
      grid-template-areas: "header header header" "left middle right"
    @include mobile
      grid-row-gap: 2em
      grid-template-columns: 1fr
      grid-template-rows: auto auto auto auto
      grid-template-areas: "header" "left" "middle" "right"
    
    #where-met-stands-header
      grid-area: header
      font-weight: bold
      @include non-mobile
        font-size: $h2-font-size
        margin-top: 2em
        margin-bottom: 2em
      @include mobile 
        font-size: $h2-font-size-m
        margin-top: 1em
        margin-bottom: 1em
    #where-met-stands-left
      grid-area: left 
      justify-self: center
      width: 90%
    #where-met-stands-middle
      grid-area: middle 
      justify-self: center
      width: 90%
    #where-met-stands-right     
      grid-area: right
      justify-self: center
      width: 90%
      
    .where-met-stands-sub-title
      .where-met-stands-icon
        display: inline-block
        @include non-mobile
          line-height: $h2-font-size
          img
            height: 5.0em
        @include mobile
          line-height: $h2-font-size-m
          img
            height: 15vw
      .where-met-stands-text
        @include non-mobile
          font-size: 4.0em
        @include mobile
          font-size: 2.5em
        font-weight: bold
        color: $red
        display: inline-block
        vertical-align: top
        
    .where-met-stands-desc
      @include non-mobile
        font-size: $body-font-size
      @include mobile
        font-size: $body-font-size-m
      text-align: left
 

#sliding-scale-performance
  @include mobile
    background-color: $gray

  #sliding-scale-performance-container
    display: grid
    text-align: center
    margin-bottom: 2em
    @include non-mobile
      grid-gap: 5px
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: 1fr auto
      grid-template-areas: "header header header" "left right right"
    @include mobile
      grid-template-columns: 1fr
      grid-template-rows: auto auto 1fr
      grid-template-areas: "header" "right" "left"
 
    #sliding-scale-performance-header
      grid-area: header
      color: $red
      justify-self: center
      align-self: center
      font-weight: bold
      @include non-mobile
        margin-top: 2em
        margin-bottom: 2em
        font-size: $h2-font-size
      @include mobile
        margin-top: 1em
        margin-bottom: 1em
        font-size: $h2-font-size-m
        
    #sliding-scale-performance-left
      grid-area: left
      justify-self: center
      @include non-mobile
        text-align: left
        width: 80%
      @include mobile
        text-align: left 
        padding: 1em  
      #sliding-scale-performance-sub-title
        color: $red
        font-weight: bold
        @include non-mobile
          font-size: 5.0em
        @include mobile
          font-size: 2.5em
      #sliding-scale-performance-desc
        @include non-mobile
          font-size: $body-font-size
        @include mobile
          font-size: $body-font-size-m
        
    #sliding-scale-performance-right
      grid-area: right
      align-self: center
      @include non-mobile
        text-align: left
        justify-self: left 
        width: 90%
        img
          width: 100%
      @include mobile
        text-align: center
        justify-self: center 
        width: 100%
        text-align: center
        img
          width: 90%
  
  #sliding-scale-performance-conclusion
    background-color: $red
    color: white
    text-align: center
    @include non-mobile
      margin-top: 2em
      font-size: $h3-font-size
      padding: 1em 1.5em 1em 1.5em
    @include mobile
      padding: 1em
      font-size: $h3-font-size-m
    
  #sliding-scale-performance-reference
    background-color: $gray
    color: black
    text-align: center
    @include non-mobile
      font-size: $body-font-size
      padding: 1em 1.5em 1em 1.5em
      margin-bottom: 2em
    @include mobile
      font-size: $body-font-size-m
      padding: 1em
 
#cta
  background-color: $red
  color: white
  
  #cta-container
    display: grid
    text-align: center
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr auto
    grid-template-areas: "prompt" "action" "social"
    padding-top: 5em
    padding-bottom: 5em
    
    #cta-prompt
      grid-area: prompt
      font-size: $h2-font-size
    
    #cta-action
      grid-area: action
      
      .subscribe-form-input
        font-family: "gt-pressura-monoregular", "Helvetica", "Arial", sans-serif
        font-size: $h3-font-size
        background-color: $red
        color: white
        border: 2px solid white
        padding: 0.5em 1em 0.5em 1em
      .subscribe-form-input:-ms-input-placeholder
        color: white
      .subscribe-form-input::-ms-input-placeholder
        color: white
      .subscribe-form-input::placeholder
        color: white
      .subscribe-form-submit
        font-family: "gt-pressura-monoregular", "Helvetica", "Arial", sans-serif
        font-size: $h3-font-size
        background-color: white
        border: 2px solid white
        color: red
        padding: 0.5em 1em 0.5em 1em
        
    #cta-social
      margin-top: 2em
      grid-area: social    
      img
        width: 4em
        margin: 0 1em
        
#credits
  background-color: black
  color: white
  
  #credits-container
    display: grid
    padding-top: 2.5em
    padding-bottom: 2.5em
    grid-column-gap: 2em
    grid-row-gap: 1em
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr auto 1fr 1fr
    grid-template-areas: "title . support info" "laagp gradient abog info" ". . . ." ". footer footer ."
    
    #credits-info
      grid-area: info
      text-align: right
      justify-self: end
      #credits-logo
        img
          width: 10em
    
    #credits-title
      text-align: left
      grid-area: title
    
    #credits-supported-title
      text-align: left
      grid-area: support
      
    #credits-gradient
      grid-area: gradient
      
    #credits-laagp
      grid-area: laagp
      
    #credits-abog
      grid-area: abog
      
    .credits-header
      font-size: $body-font-size
      margin-bottom: 1em
      text-decoration: underline
      font-weight: bold

    #footer
      align-self: end
      grid-area: footer
      text-align: center